@import "../../app.scss";

.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background-color: #ebecf0;
    position: relative;

    .wrapper {
        max-width: 1366px;
        width: 100%;
        height: 100%;
        margin: auto;

        .textContainer {
            position: relative;
            width: 700px;
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            @include mobile {
                height: 100px !important;
                width: 100%;
                gap: 20px;
                align-items: center;
                text-align: center;
            }

            @include mobile-landscape {
                width: 70% !important;
                height: 80% !important;
            }

            @include tablet {
                height: 400px;
            }

            h1 {
                font-size: 30px;
                text-shadow: 1px 1px black;
                letter-spacing: 10px;
                color: black;

                @include mobile {
                    font-size: 15px !important;
                }

                @include mobile-landscape {
                    font-size: 15px !important;
                }

                @include tablet {
                    font-size: 20px;
                }

            }

            img {
                width: 50px;
                height: 50px;

                @include mobile {
                    display: none;
                }
            }
        }
    }

    .imageContainer {
        max-width: 1366px;
        display: flex;
        width: 40%;
        height: 80%;
        bottom: 30px;
        right: 40px;
        position: absolute;

        @include mobile {
            width: unset !important;
            height: 70% !important;
            bottom: 0px;
            right: 0px !important;
            align-items: center !important;
        }

        @include mobile-landscape {
            top: 0px;
            right: -240px;
        }

        @include tablet {
            width: 500px;
            height: 500px;
            bottom: 50px;
        }

        img {
            width: 500px;
            height: 500px;
            object-fit: cover;

            @include mobile {
                width: 400px !important;
                height: 400px !important;
            }

            @include mobile-landscape {
                width: 240px !important;
                height: 240px !important;
            }

            @include tablet {
                width: 450px;
                height: 450px;

            }
        }
    }
}